SERVER_PORT=8080

LOG_PATH=D:/dump-interview/payment-gateway-cip/logs

DB_URL=jdbc:postgresql://pg_payment_gateway:5432/payment_gateway
DB_USERNAME=pguser
DB_PASSWORD=pgpassword

KAFKA_BOOTSTRAP_SERVERS=kafka_payment_gateway:29092

KEYCLOAK_URL_ISSUER= http://keycloak-server:8080/realms/PaymentGatewayRealm
KEYCLOAK_URL_JWK=http://keycloak-server:8080/realms/PaymentGatewayRealm/protocol/openid-connect/certs

OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger_payment_gateway:4318/v1/traces
